.modal {
	width: calc(100% - #{$padding * 2});
	max-width: $md;
	position: absolute;
	top: -200%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $gray;
	z-index: 10;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: top 2s ease-out, opacity 500ms ease-out 0ms;

	&.modal--active {
		top: 50%;
		opacity: 1;
		transition: top 1s ease-in-out, opacity 500ms ease-in 750ms;
	}

	&__header {
		h2 {
			margin-bottom: 0;
		}
	}

	&__header,
	&__footer {
		height: 80px;
	}

	&__body {
		.row {
			position: relative;

			&::after {
				content: '';
				width: 25px;
				height: calc(100vh - 200px);
				max-height: 600px;
				position: absolute;
				top: 0;
				right: 0;
				background: linear-gradient(
					90deg,
					transparent 20%,
					rgba(0, 0, 0, 0.3) 39%,
					rgba(0, 0, 0, 0.3) 100%
				);
				pointer-events: none;
			}
		}
	}

	&__scroll {
		overflow-x: auto;
		white-space: nowrap;

		&-item {
			width: auto;
			height: calc(100vh - 200px);
			max-height: 600px;
			display: inline-block;
			padding: 0 10px;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}

			img {
				width: auto;
				height: 100%;
				display: block;
			}

			p {
				margin-top: calc($padding / 2);
			}
		}
	}
}
