.viewer {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: $primary;

	.btn {
		@include flex(row, center, center, nowrap);
		min-width: 0;
		position: absolute;
		top: $padding;
		right: $padding;
		z-index: 2;
		display: none;
		padding: 0;
		background-color: rgba(255, 255, 255, 0.5);

		svg {
			width: 30px;
			padding: 5px;

			* {
				fill: $primary;
			}
		}
	}

	.swiper {
		height: 100%;

		.swiper-scrollbar {
			background-color: rgba(255, 255, 255, 0.5);
		}

		.swiper-scrollbar-drag {
			background-color: $primary;
		}

		&--peak {
			.swiper-wrapper {
				-webkit-animation-name: peak;
				animation-name: peak;
				-webkit-animation-iteration-count: 1;
				animation-iteration-count: 1;
				-webkit-animation-delay: 0ms;
				animation-delay: 0ms;
				-webkit-animation-duration: 2s;
				animation-duration: 2s;

				@-webkit-keyframes peak {
					0% {
						transform: var(--peak-init);
					}

					25% {
						transform: var(--peak-init);
					}

					50% {
						transform: translate3d(0%, -50%, 0);
					}

					75% {
						transform: translate3d(0%, -50%, 0);
					}

					100% {
						transform: var(--peak-init);
					}
				}
				@keyframes peak {
					0% {
						transform: var(--peak-init);
					}

					25% {
						transform: var(--peak-init);
					}

					50% {
						transform: translate3d(0%, -50%, 0);
					}

					75% {
						transform: translate3d(0%, -50%, 0);
					}

					100% {
						transform: var(--peak-init);
					}
				}
			}
		}
	}

	&__media {
		width: 100%;
		height: 100%;

		&-loading {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			padding: $padding;

			h1,
			p {
				margin: 0;
				text-align: center;
				color: #fff;
			}

			h1 {
			}

			p {
				font-size: 22px;
			}
		}

		&-item {
			position: relative;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
			}

			div {
				position: absolute;
				bottom: $padding;
				right: $padding;
				padding: $padding;
				background-color: rgba(255, 255, 255, 0.5);

				p:empty {
					display: none;
				}

				h4,
				p {
					margin: 0;
				}

				p {
					font-size: 16px;
				}
			}
		}

		&--shrink {
			.viewer__media-item {
				img {
					object-fit: contain;
				}
			}
		}
	}

	&--loaded {
		.btn--active {
			display: flex;
		}
	}
}
