@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;700;900&display=swap');
@import '_reset.scss';
@import '_variables.scss';
@import '_skeleton.scss';
@import '_animate.scss';
@import '_map.scss';
@import '_modal.scss';
@import '_viewer.scss';

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	font-family: 'PT Sans Narrow';
}

header {
	background-color: $primary;

	.container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.tower {
		width: auto;
		height: 100%;

		svg {
			width: auto;
			height: 50px;
			display: block;

			path,
			rect,
			circle {
				stroke: var(--DrylandCropland);
			}
		}
	}

	h1 {
		margin: 0 0 0 $padding;
		color: var(--DrylandCropland);
		font-size: 2rem;

		@media (min-width: #{$sm}) {
			font-size: 3rem;
		}

		@media (min-width: #{$sm}) {
			font-size: 4rem;
		}
	}
}
